*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { 
 	font-family: oswald, anton, helvetica, arial, sans-serif;
 	background: url('../imagenes/pergamino2.jpg'), #000000;
 	background-size: cover;
 	background-attachment: fixed; /*fijar el fondo a la pantalla*/
}



canvas {
	background:url('../imagenes/mapa.jpg');
	color:#000000;
	border:2px solid;
	border-color:#000000;
	border-radius:10px;
	/*centrar el canvas*/
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -400px; /* This is half the width */
	margin-top: -200px; /* This is half the height */

}

.draggable { width: 90px; height: 90px; padding: 0.5em; float: left; margin: 0 10px 10px 0; }
#draggable, #draggable2 { margin-bottom:20px; }
#draggable { cursor: n-resize; }
#draggable2 { cursor: e-resize; }
#containment-wrapper { background:url('../imagenes/mapa.jpg'); width: 56%; height:450px; border:2px solid #ccc; padding: 10px; }
h3 { clear: left; }

header {
	position: relative;
	height: auto;	
}

header .menu{
	background: rgba(255, 255,255,.7);
	overflow: hidden;
}
header .logo {
	color: rgba(0,0,0,.8);
	float: left;
	font-size: 40px;
	line-height: 80px;
}

header nav{ 
	float: right;
 }

 header nav ul{
 	list-style: none;
 }

 header nav ul li {
 	float: left;
 }

 header nav ul li a {
 	color:rgba(0,0,0,.8);
 	text-decoration:  none;
 	display: block;
 	font-style: 20px;
 	padding: 0 20px;
 	line-height: 80px;
 }

 header nav ul li:hover { 
 	background: rgba(0,0,0,.8);
 	border-bottom: inset 5px solid #fff;
  }

  header nav ul li a:hover {
  	color: #fff;
  }

.main-button-container {
  margin-top: 175px;
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
}

/*del menu y titulo*/
.contenedor{
	width:90%;
	max-width: 1000px;
	margin:auto;
	background: cyan;
}
.contenedorP{
	max-width: 1000px;
	position: absolute;
	left: 50%;
	top: 90%;
	margin-left: -200px; /* This is half the width */
	margin-top: -100px; /* This is half the height */
  }
 
 #preguntas{
	color:#000;
	background:#fff; 
	width:400px;
	border-radius:10px;
	 }
	 
#respuestas{
	color:#000;
	background:#fff; 
	width: 400px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius:10px;
	 }
#enviar { 
	display: inline-block;
  	padding: 5px 20px;
  	font-size: 18px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #000;
  	background-color: #fff;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
  	margin-bottom: 10px;
  	margin-right: 5px;

 }

 #iniciar { 
	display: inline-block;
  	padding: 5px 20px;
  	font-size: 18px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #000;
  	background-color: #fff;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
  	margin-bottom: 10px;
  	margin-left: 5px;
 }

 #enviar:hover {background-color: #ace4f7}

 #iniciar:hover {background-color: #ace4f7}

 #enviar:active {
  background-color: #ace4f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 #iniciar:active {
  background-color: #ace4f7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}